= title "Admin Dashboard"

%h1 Admin Dashboard

%table.zebra.w33
  %tr
    %th Speakers
    %td #{Speaker.count}
  %tr
    %th Sponsors
    %td #{Sponsor.count}
  %tr
    %th Documents
    %td #{Document.count}
  %tr
    %th Pages
    %td #{Page.count}
  %tr
    %th Page Blocks
    %td #{PageBlock.count}