#footer.container  
  .footer_nav_container    
    #footer_nav
      %ul
        %li{:class => active_link("index")}= link_to 'Home', '/'
        %li{:class => active_link("about")}= link_to 'About', '/about'
        %li{:class => active_link("agenda")}= link_to 'Agenda', '/agenda'
        %li{:class => active_link("speakers")}= link_to 'Speakers', '/speakers'
        %li{:class => active_link("venue")}= link_to 'Venue', '/venue'
        %li{:class => active_link("sponsors")}= link_to 'Sponsors', '/sponsors'
        %li{:class => active_link("costs")}= link_to 'Costs', '/costs'
        %li{:class => active_link("resources")}= link_to 'Resources', '/resources'
        %li{:class => active_link("contact")}= link_to 'Contact Us', '/contact'
    #copyright
      &copy; Int. Venture Capital Workshops. All Rights Reserved
  .clear