#header  
  #home_nav.container
    %ul
      %li= link_to 'Home', '/'
      %li= link_to 'Agenda', '/agenda'
      %li= link_to 'Speakers', '/speakers'
      %li= link_to 'Venue', '/venue'
      %li= link_to 'Sponsors', '/sponsors'
      %li= link_to 'Resources', '/resources'
      %li= link_to 'Contact Us', '/contact'

#logo.container
  = image_tag "slices/logo.png"
  .clear
  Come hear the top experts in the immigration profession speak about the EB5 program
#flag_container
  .flag.container
    .flag_text
      .flag_title
        .flag_text_24
          Seminar Overview
        .flag_text_16
          Dates: October 24-25, 2008
          %br
          Where: Lake Buena Vista Resort Village & Spa, Orlando, FL
          %br
          Cost: $745.00
      .flag_button
        = link_to image_tag("slices/btn_testimonial.png"), '/testimonials'
      .clear
      .flag_text_14
        The USCIS EB-5 Program has been crated to allow foreign nationals to invest in commercial enterprises in the United States in exchange for a chance for then and their families to become permanent U.S. residents.
        %br     
        To date the EB-5 program has brought in several billion dollars in investment and has resulted in the creation of tens thousands of U.S. jobs.