#header  
  #home_nav
    %ul
      %li= link_to 'Home', '/'
      %li= link_to 'Agenda', '/agenda'
      %li= link_to 'Speakers', '/speakers'
      %li= link_to 'Venue', '/venue'
      %li= link_to 'Sponsors', '/sponsors'
      %li= link_to 'Resources', '/resources'
      %li= link_to 'Contact Us', '/contact'