#flag_container
  .flag_shadow
    .container
      .flag
        .flag_text
          .flag_title
            .flag_text_24
              = pc("HOME Seminar Overview title")
            .flag_text_16
              Dates: #{pc("HOME Seminar Overview dates")}
              %br
              Where: #{pc("HOME Seminar Overview location")}
              %br
              Cost: #{pc("HOME Seminar Overview price")}
          .flag_button
            /= link_to image_tag("slices/btn_testimonial.png"), '/testimonials'
          .clear
          .flag_text_14
            = pc("HOME Seminar Overview content")