= javascript_include_tag "jquery.cycle.all.min.js", :cache => 'js'
:javascript
  $(document).ready(function() {
    $('#slideshow').cycle({ 
        fx:      'scrollLeft', 
        speed:    5000, 
        timeout:  5000,
        after:    function() {
            $('#slideshow_caption').html(this.alt);
        }
    });
  });
#slideshow_container
  #slideshow
    - @cities.each do |city|
      = image_tag city.photo(:big), :alt => city.name
  #slideshow_caption
    = @cities.first.name
.clear
.home_title
  = pc('HOME page, left tab title')
.home_text
  = pc('HOME page, left tab content')
.united_states_container
  .line
  .home_title UNITED STATES
  .line
  .clear
  #city_container
    - @cities_us.each do |city|
      .city
        = city.name
        .clear
        = image_tag city.photo(:medium)
.clear
.international_container
  .line
  .home_title INTERNATIONAL
  .line
  .clear
  #city_container
    - @cities_in.each do |city|
      .city
        = city.name
        .clear
        = image_tag city.photo(:small)