#sponsors
  %h1 PLATINUM SPONSORS
  .clear
  - @sponsors.each do |sponsor|
    #sponsor
      %h2= sponsor.name
      .clear
      = image_tag sponsor.logo(:original)
      .clear
      = simple_format(sponsor.description)
      .clear
      .website= link_to sponsor.website, "#{sponsor.website}"
      .clear