= add_editor
= editor("#speaker_about");

= simple_form_for [:admin, @speaker], :html => {:multipart => true} do |f|
  - if @speaker.errors.any?
    = f.error_messages
  = f.input :name
  = f.input :position
  = f.input :about
  = f.input :photo
  = f.input :priority
  = f.input :moderator
  = f.association :languages, :as => :check_boxes
  = f.association :practice_areas, :as => :check_boxes
  = f.button :submit
