%h1 Listing speakers

%table.zebra
  %tr
    %th Name
    %th Position
    %th About
    %th Photo
    %th Priority
    %th Moderator
    %th Languages
    %th Practice Areas

  - @speakers.each do |speaker|
    %tr
      %td= speaker.name
      %td= speaker.position
      %td= truncate(speaker.about)
      %td= link_to "photo",speaker.photo.url
      %td= speaker.priority
      %td= speaker.moderator == true ? "yes" : "no"
      %td= speaker.languages.count
      %td= speaker.practice_areas.count
      %td= link_to 'Show', [:admin, speaker]
      %td= link_to 'Edit', [:edit, :admin, speaker]
      %td= link_to 'Destroy', [:admin, speaker], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Speaker', [:new, :admin, :speaker]
