%h1 Listing speakers

%table
  %tr
    %th Name
    %th Position
    %th About
    %th Photo
    %th Priority
    %th
    %th
    %th

  - @speakers.each do |speaker|
    %tr
      %td= speaker.name
      %td= speaker.position
      %td= speaker.about
      %td= speaker.photo
      %td= speaker.priority
      %td= link_to 'Show', [:admin, speaker]
      %td= link_to 'Edit', [:edit, :admin, speaker]
      %td= link_to 'Destroy', [:admin, speaker], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Speaker', [:new, :admin, :speaker]
