%p#notice= notice
%p  
  = image_tag @speaker.photo.url(:medium)
%p
  %b Name:
  = @speaker.name
%p
  %b Position:
  = @speaker.position
%p
  %b About:
  = @speaker.about

%p
  %b Priority:
  = @speaker.priority

= link_to 'Edit', edit_admin_speaker_path(@speaker)
\|
= link_to 'Back', admin_speakers_path
