= add_editor
= editor("#sponsor_description");

= simple_form_for [:admin, @sponsor], :html => {:multipart => true} do |f|
  - if @sponsor.errors.any?
    = f.error_messages
  = f.input :name
  = f.input :logo
  = f.input :description
  = f.input :website
  = f.input :priority
  = f.button :submit