= add_editor
= editor("#city_agenda");
= editor("#city_price");

= simple_form_for [:admin, @city], :html => {:multipart => true} do |f|
  - if @city.errors.any?
    = f.error_messages
  = f.input :name, :label => "Name"
  = f.input :country, :label => "Country"
  = f.input :in_us, :label => "In United States"
  = f.input :start_on, :label => "Seminar Starts On"
  = f.input :ends_on, :label => "Seminar Starts On"
  = f.input :photo
  = f.input :agenda  
  = f.input :price
  = f.input :price_short, :label => 'Short label for price, showed on UI as price'
  = f.association :speakers, :as => :check_boxes
  = f.association :sponsors, :as => :check_boxes
  = f.button :submit