= add_editor
= editor("#city_agenda");
= editor("#city_price");

= simple_form_for [:admin, @city], :html => {:multipart => true} do |f|
  - if @city.errors.any?
    = f.error_messages
  = f.input :name, :label => "Name"
  = f.input :country, :label => "Country"
  = f.input :in_us
  = f.input :photo
  = f.input :agenda  
  = f.input :price
  = f.association :speakers, :as => :check_boxes
  = f.association :sponsors, :as => :check_boxes
  = f.button :submit