= simple_form_for [:admin, (setup_document(@document))], :html => {:multipart => true} do |f|
  - if @document.errors.any?
    = f.error_messages
  = f.input :title, :label => "Title of resource"
  = f.fields_for :attachments do |ff|
    = ff.input :title, :label => "Name of document"
    = ff.input :attachment, :label => "Document"
    - if ff.object.persisted?
      = ff.check_box :_destroy
      = ff.label :_destroy, "Destroy"
  = f.button :submit
