%ul#admin_nav
  %li= link_to "Home", '/admin'
  %li= link_to "Cities(#{City.count})", admin_cities_path
  %li= link_to "Sponsors(#{Sponsor.count})", admin_sponsors_path
  %li= link_to "Speakers(#{Speaker.count})", admin_speakers_path
  %li= link_to "Documents(#{Document.count})", admin_documents_path
  %li= link_to "Pages(#{Page.count})", [:admin, :pages]
  %li= link_to "Page Blocks(#{PageBlock.count})", [:admin, :page_blocks]
  %li= link_to "Languages(#{Language.count})", admin_languages_path
  %li= link_to "Practice Areas(#{PracticeArea.count})", admin_practice_areas_path
.clear