!!! XML
!!!

%html
  %head
    == <title>#{(@p || @page).seo_title}</title>
    == <meta content="#{(@p || @page).seo_description}" name="description" />
    == <meta content="#{(@p || @page).seo_keywords}" name="keywords" />
    %meta{ 'http-equiv' => 'imagetoolbar', :content => 'no' }
    %meta{ :name => 'distribution', :content => 'global' }
    - if (yield :noindex).blank?
      %meta{ :name => 'robots', :content => 'all' }
    - else
      %meta{ :name => 'robots', :content => 'noindex' }
    %meta{ :name => 'resource-type', :content => 'document' }
    %meta{ :name => 'MSSmartTagsPreventParsing', :content => 'true' }
    <meta content="en_US" http-equiv="Content-Language" />
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
    <meta name="audience" content="all" />
    <meta name="revisit-after" content="7 days" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" /> 
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="image_src" href="/logo.jpg" />
    = csrf_meta_tag
    = stylesheet_link_tag 'application', :cache => 'css'
    = yield :css
    = javascript_include_tag 'jquery-1.5.1.min', 'jquery.rails', 'application', :cache => 'js'
    = yield :js
    = yield :map
    = yield :markitup
    %script{:type => 'text/javascript', :charset => 'utf-8'}
      $(document).ready(function() {
      = yield :on_ready
      });
      = yield :inline_js
    - unless defined?(@no_analytics)
      = include_google_analytics
  %body
    #root
      #content
        .container= raw(flash_messages)
        = render :partial => '/shared/header'
        .container= yield
      #root_footer
    #footer
      = render :partial => '/shared/footer'