!!! XML
!!!

%html{html_attrs}
  %head
    %title= (yield :title)
    ==<meta content="#{yield :description}" name="description" />
    ==<meta content="#{yield :keywords}" name="keywords" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag 'railsjazz', 'footer'
    <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico" />
    <link type="image/x-icon" rel="icon" href="/favicon.ico" />
    - if Rails.env == 'production'
      = render :partial => '/shared/ga'    
  %body
    #wrap
      #main
        #index
          #header
            .container              
              #menu                
          #content= yield
    #footer
      .container        
        %span.copy          
        .divider
        #latest_projects
        .clear